.card {
    width: 30rem;
}
body {
    display: flex;
    justify-content:center;
    margin: 100px 0;
    background-color: #fbfaff;
    text-align: center;
}

.btn-primary {
    margin: 1vh;
    width: 20vw;
    background-color: #6542f5;
    font-weight: 500;
    overflow: hidden;
}

.btn-dark {
    margin: 1vh;
    width: 20vw;
    font-weight: 500;
    overflow: hidden;
}