<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not unique numbers</title>
</head>
<body>
    <div class="card">
        <img class="card-img-top" src="../../assets/images/NotUniqueNumbers.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Non-unique numbers test</h5>
          <p class="card-text">Return the list of not unique numbers, type a list of coma-separated intefer numbers</p>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">Type</span>
            </div>
            <textarea class="form-control" id="txtInputNotUniqueNumbers" aria-label="With textarea"></textarea>
          </div>
          <a class="btn btn-primary" id="btnNotUniqueNumbers">Test!</a>
          <a class="btn btn-dark" id="btnHome">Or go to home page!</a>
        </div>
        <div id="result">

        </div>
      </div>
      <link rel="stylesheet" type="text/css" href="../../styles/bootstrap/css/bootstrap.min.css" >
      <link rel="stylesheet" href="../../styles/appstyles/main.css" type="text/css">
      <script type="module" src='../controller/NotUniqueNumbers.controller.js'></script>
</body>
</html>